<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
<pluginGroups>
<pluginGroup>fr.jcgay.maven.plugins</pluginGroup>
</pluginGroups>
<server>
  <id>shrek</id>
  <username>nagyrobert</username>
  <password>19980927Nr</password>
</server>
</settings>
